[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "==21.9b0"
flake8 = "*"
isort = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
shellcheck-py = "*"
twine = "*"
types-markdown = "~=3.3"
types-pygments = "*"
yamllint = "*"

[packages]
dinject = "~=1.2"
markdown = "~=3.3"
python-frontmatter = "~=1.0.0"
pygments = "~=2.10"

[requires]
python_version = "3.10"
